<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>452961290037826</sid>
    <event-sheet>Script Menu</event-sheet>
    <size>
        <width>770</width>
        <height>530</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="monster no fundo" sid="5104819443877075">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects>
                <effect-type name="RadialBlur">
                    <effect id="radialblur" />
                    <effect-instance type="RadialBlur">
                        <parameters>
                            <intensity>1</intensity>
                            <radius>0.4</radius>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="BlurHorizontal">
                    <effect id="blurhorizontal" />
                    <effect-instance type="BlurHorizontal">
                        <parameters>
                            <intensity>0.5</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="BlurVertical">
                    <effect id="blurvertical" />
                    <effect-instance type="BlurVertical">
                        <parameters>
                            <intensity>0.5</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
            </effects>
        </layer>
        <layer name="personagens" sid="2226200362096115">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>0.5</x>
                <y>0.5</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="menuFundo" uid="98">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>8</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>2</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>386.286254883</x>
                        <y>233.379852295</y>
                        <z>0</z>
                        <width>834.42755127</width>
                        <height>468.75970459</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="efeito" uid="38">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>1</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>406</x>
                        <y>189</y>
                        <z>0</z>
                        <width>602.547851563</width>
                        <height>349.432952881</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="menuMonstro" uid="99">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>8</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>-3</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>404.286254883</x>
                        <y>232.379852295</y>
                        <z>0</z>
                        <width>834.42755127</width>
                        <height>468.75970459</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Cursor" uid="40">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Cursor_Pos>0</Cursor_Pos>
                    </instance-variables>
                    <blend-mode>1</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>154</x>
                        <y>-164</y>
                        <z>0</z>
                        <width>173.695236206</width>
                        <height>219.8671875</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.300000012</opacity>
                    </world>
                </instance>
                <instance type="CAMERA" uid="39">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="ScrollTo">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>383</x>
                        <y>279</y>
                        <z>0</z>
                        <width>72.663604736</width>
                        <height>72.663604736</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="start" sid="336652171326065">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>0</x>
                <y>0</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="SURTOlogo" uid="36">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>393.905303955</x>
                        <y>112.863250732</y>
                        <z>0</z>
                        <width>288.422180176</width>
                        <height>167.263427734</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="menuSiluetas" uid="44">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>8</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>2</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>446.286254883</x>
                        <y>236.379867554</y>
                        <z>0</z>
                        <width>383.00592041</width>
                        <height>220.951843262</height>
                        <depth>0</depth>
                        <hotspotX>0.076555021</hotspotX>
                        <hotspotY>0.574585617</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="menuNomes" uid="24">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>418.005981445</x>
                        <y>199.963439941</y>
                        <z>0</z>
                        <width>123.741363525</width>
                        <height>24.913005829</height>
                        <depth>0</depth>
                        <hotspotX>-1.291845441</hotspotX>
                        <hotspotY>7.489361763</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="NovoJogo" uid="37">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0.4</fade-in-time>
                                <wait-time>1</wait-time>
                                <fade-out-time>0.4</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>392.794128418</x>
                        <y>429.890991211</y>
                        <z>0</z>
                        <width>232.699874878</width>
                        <height>22.822488785</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.509803951</hotspotY>
                        <angle>0</angle>
                        <opacity>0</opacity>
                    </world>
                </instance>
                <instance type="chrisLogo" uid="27">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>50.054122925</x>
                        <y>413.671447754</y>
                        <z>0</z>
                        <width>56.907745361</width>
                        <height>69.841323853</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.509259284</hotspotY>
                        <angle>0</angle>
                        <opacity>0.25</opacity>
                    </world>
                </instance>
                <instance type="menuLuzolhodomonstro" uid="28">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>204.267028809</x>
                        <y>155.630355835</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="fade" sid="9041853198900849">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
